.Gifts-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.Gifts-container > :nth-child(2) {
    max-width: 220px !important;
}

.Gifts-container > :nth-child(3) {
    max-width: 250px !important;
}

.Gifts-pick-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.Gifts-pick {
    width: 70px;
    color: #683489;
    background-color: #683489;
    border-radius: 20%;
    user-select: none;
}

.Gifts-pick:hover {
    color: white !important;
}
