.Gift-container {
	display: flex;
	flex-direction: column;
	/*	justify-content: space-between;*/
	gap: 15px;
	max-width: 300px;
}

.Gift-img {
	/*	max-width: 300px;*/
}

.Gift-numbers-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.Gift-number {
	width: 55px;
	border: 1px solid gray;
	border-radius: 50%;
	background-color: #683489;
}

.hidden {
	color: #683489;
}

.highlight {
	background-color: red;
}
